@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic|Inconsolata);

/*----------  Site ----------*/

.cf:before,
.cf:after {
  content:"";
  display:table;
}
.cf:after {
  clear:both;
}
.cf {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
            box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body, html {
    font-size: 16px;
    line-height: 19px;
}
html {
    height: 100%;
    font-family: "Karla", arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    color: #222;
    font-family: "Karla", arial, sans-serif;
    background: #FFF;
}
main{
    padding: 3rem 2rem;
    margin: 5rem auto;
    position: relative;
    min-width: 300px;
    max-width: 900px;
}

/*----------  Grid ----------*/
.grid-2>div {
	width: 50%;
	float: left;
	padding: 0;
	padding-right: 15px;
	min-height: 1px;
}
.grid-2>div:last-child {
	padding-left: 15px;
}

/*----------  Typo ----------*/
a {
	color: inherit;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
	text-decoration: none;
}
h1 {
	font-size: 48px;
	line-height: 58px;
	margin: 18px 0;
}
h3 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 18px;
}
h4 {
	font-size: 16px;
	line-height: 19px;
}
h5 {
	font-size: 12px;
	line-height: 14.4px;
	font-weight: normal;
	margin: 18px 0 12px 0;
}
.strong {
	font-weight: 900;
}
.discret {
	color: #FFDB16;
	font-family: 'Inconsolata';
}
.big {
	font-size: 21px;
	line-height: 26px;
}

/*----------  Menu ----------*/


#menu{
	width: 320px;
	background: #4345FF;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	color: #FFF;
}
#menu-logo img {
	display: block;
}
#menu a {
	text-decoration: none;
}
#menu ul, #menu li {
	list-style-type: none;
}
#menu-logo{
	background-color: #fff;
}
#menu-annexe {
	margin: 0 20px;
}
#menu-annexe li {
	float: left;
	font-size: 12px;
	line-height: 24px;
	margin-right: 10px;
}
#menu-annexe li:last-child {
	float: right;
	margin: 0;
}
#menu-principal>li {
	font-size: 24px;
	line-height: 48px;
	border-top: 1px solid;
	margin: 0px 20px;
}

/* -------- Contenu --------*/
#contenu{
	display: block;
	margin-left: 320px;
}

/*----------  Home ----------*/
#welcome-map {
	height: 400px;
}
.wrapper {
	padding: 30px;
}
#presentation {
	background-color: #FFDB16;
	padding: 30px;
	position: relative;
	margin-bottom: 30px;
	/*border: 10px solid #4345FF;
	color: #4345FF;*/
	margin-top: -50px;
}
.liste-articles>li, #mises-a-jour>li {
	list-style-type: none;
}

.liste-articles>li {
	margin-bottom: 48px;
}
.liste-articles .billet>img {
	width: 180px;
	float: left;
	margin-right: 30px;
}
.liste-articles .billet>h4 {
	text-transform: uppercase;
}

.liste-articles .billet p a {
	text-decoration: none;
}

/*------------ Inventaire -------------*/
#arbo a {
	text-decoration: none;
	font-weight: bold;
}
#inventaire-introduction {
	max-width: 610px;
}
.slider {
	margin: 12px 0 48px 0;
	cursor: grab;
}
.slick-slide img {
	max-height: 500px;
	width: auto;
	margin: 0px 30px;
}
.slick-slide.slick-active img {
	filter: none;
  -webkit-filter: grayscale(0);
	opacity: 1;
}
.slider-arrow-left {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	left: 10px;
	z-index: 999;
	cursor: pointer;
}
.slider-arrow-right {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	right: 10px;
	z-index: 999;
	cursor: pointer;
}
/*------------ Tabs -------------*/
#inventaire-tabs {
	position: relative;
	margin: 6px 0 48px 0;
}
#inventaire-tabs>ul {
	width: 280px;
	position: absolute;
	top: 6px;
	left: 0;
}
#inventaire-tabs>ul>li {
	list-style-type: none;
	border-top: 1px solid;
	padding: 12px 0px;
	font-size: 18px;
	line-height: 21px;
}
#inventaire-tabs>ul>li.selected {
	font-weight: bold;
}
#inventaire-tabs>ul>li>a {
	text-decoration: none;
}
#inventaire-tabs>div {
	margin-left: 310px;
	display: none;
	max-width: 650px;
}
#inventaire-tabs>div:first-of-type {
	display: block;
}
#inventaire-carte {
	height: 300px;
}